/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Montserrat;
}

.ag-theme-alpine {
  --ag-control-panel-background-color: rgb(247, 243, 244);
  --ag-selected-tab-underline-width: 2px;
  --ag-selected-tab-underline-transition-speed: 0.5s;
  --ag-header-background-color: #fff;
  --ag-side-bar-panel-width: 300px;
}

.ag-root-wrapper {
  border: none;
}

.ag-header-row {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

input[class^=ag-][type=text]{
  border: 1px solid #c1c1c1;
}

.ag-header-row:not(:first-child) .ag-header-cell:not(.ag-header-span-height.ag-header-span-total), .ag-header-row:not(:first-child) .ag-header-group-cell.ag-header-group-cell-with-group {
  border-top: 1px dotted #d1d1d1;
}

.ag-header{
  border-bottom: 1px dotted #d1d1d1;
}

.ag-row {
  height: 40px;
  background-color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-bottom: 1px dotted #d1d1d1;
  color: #666666;
  cursor: pointer;
}

.ag-paging-panel {
  color: #236599;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border-top: none;
}

.ag-paging-page-summary-panel {
  display: flex;
  align-items: flex-end;
}

.ag-paging-row-summary-panel{
  display: none;
}

.ag-theme-alpine .ag-row, .ag-theme-alpine-dark .ag-row {
  font-size: 15px;
}

.ag-icon::before, .ag-icon-asc::before, .ag-icon-desc::before {
  color: #00539e;
}

.app-buttons{
  .filled-button{
    background-color: #07539e !important;
    border-radius: 20px;
    color: #ffffff !important;
  }

  .outlined-button{
    background-color: #ffffff !important ;
    color: #07539e !important;
    border: 1px solid #07539e;
    border-radius: 20px;
  }
}
