<div class="container">
    <div class="centered-content">
        <p class="oops">Oops !</p>
        <p class="messages">DATA NOT FOUND</p>
        <p class="message">
            The data you have been searching for has not been generated
        </p>
        <p class="generate">Click on the below button to generate the Data.</p>
        <button mat-raised-button style="color:white;background-color: #076599" class="generate-button" (click)="generateData()">
            ADD BULK DATA
        </button>
    </div>
</div>
