

  <div class="d-flex flex-wrap justify-content-end mx-5">
    <button mat-icon-button (click)="toggleSettingsDropdown()">
      <mat-icon >settings</mat-icon>
    </button>
  </div>
  <div *ngIf="showSettingsDropdown" class="custom-dropdown">
    <div *ngFor="let header of allTableHeaders">
      <label class="settings-checkbox">
        <mat-checkbox
                [ngModel]="newSelectedTableHeaders.includes(header.colId)"
                (ngModelChange)="toggleColumnSelection(header.colId)"
                [disabled]="
newSelectedTableHeaders.length <= 2 &&
newSelectedTableHeaders.includes(header.colId || '')
"
        >
          {{ header.headerName }}
        </mat-checkbox>
      </label>
    </div>
</div>


<!--
<mat-form-field data-testid="mabl-table-headers-dropdown" appearance="fill">


  <mat-select
    multiple
    #matSelect
    (selectionChange)="onColumnSelectionChange($event)"
    [(value)]="newSelectedTableHeaders"
  >
    <mat-option
      *ngFor="let header of allTableHeaders"
      [value]="header.colId"
      [disabled]="
        newSelectedTableHeaders.length <= 2 &&
        newSelectedTableHeaders.includes(header.colId || '')
      "
    >
      {{ header.headerName }}
    </mat-option>
  </mat-select>-->


<!--</mat-form-field>-->


