$mat-app-blue: (
  50: #e0f7fc,
  100: #b3ebf7,
  200: #80ddf1,
  300: #4dcfeb,
  400: #26c5e7,
  500: #00bbe3,
  600: #00b5e0,
  700: #00acdc,
  800: #00a4d8,
  900: #0096d0,
  A100: #f8fdff,
  A200: #c5ecff,
  A400: #92dcff,
  A700: #79d4ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
